{% include 'header.html' %}
<div class="container  ">
    <div class="row d-flex justify-content-center">

        <div class="col-md-6 ">
            <form class="form-horizontal" method="post">
                <span class="heading">АВТОРИЗАЦИЯ</span>
                <div class="form-group">
                    <input name="login" type="text" class="form-control" id="inputEmail" placeholder="Login">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input name="password" type="password" class="form-control" id="inputPassword"
                           placeholder="Password">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">

                    <button type="submit" name="enter" class="btn btn-dark">ВХОД</button>
                    <button type="submit" name="reg" class="btn btn-success">Регистрация</button>
                </div>

            </form>


            <?php


        </div>

        </div>
    </div>
</div>
{% if content_data %}
<h5 class="m-3 col-md-5 m-auto alert alert-danger">
    {{content_data}}
</h5>
{% endif %}

{% include 'footer.html' %}