.grid {
    display: grid;
    background: #ccc;
    padding: 20px;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
}

.grid div {
    background: #dca7a7;
    outline: 1px solid #000;
}

.grid div:nth-child(1) {
    grid-row: 1/4;
}

.voting {
    grid-row: 1/2;
    grid-column: 4/5;
}

/*выравниваем конкретный элемент*/
.grid div:nth-child(9) {
    align-self: end;
    justify-self: center;
}
