object {
    /*фон применяется имеено к изображению, а не к объекту*/
    background: #ffce6f;
    /*трансформирует изображение внутри объекта, но не сам объект*/
    transform: scale(0.5, 1);
    /*не прижимает элемент к краю экрана*/
    float: left;
    /*при наличии трансформации размеры применяются к самому объекту,
    а не к изображению, которое находится внутри него*/
    width: 400px;
    height: 400px;
}