.container {
    display: grid;
    grid-template-columns: 250px 3fr 1fr;
    /*фракции ниже будут работать только если мы задали высоту*/
    height: 400px;
    grid-template-rows: 1fr 2fr 50px;
    background: #b2dba1;
}

.container div {
    outline: 1px solid black;
}