.grid {
    display: grid;
    background: #ccc;
    padding: 20px;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px 100px;

    /*grid-row-gap: 30px;
    grid-column-gap: 15px;*/

    grid-gap: 20px;
}

.grid div {
    background: #dca7a7;
    outline: 1px solid #000000;
}
