<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lesson-5</title>
</head>
<body>
    <!-- шаблон -->
    <div class="app">
      <input type="text" v-model="name">

      <!-- условия -->
      <p v-if="name.length !== 0">Hi, my name is {{ upperCaseName }}</p>
      <p v-else>Name is empty</p>

      <!-- списки -->
      <ul>
        <li v-for="({ name }, index) in names" @click="clickHandler(name)">
          {{ name }}
        </li>
      </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>